.react-calendar {
  top: 6rem;
  width: 35rem;
  height: 30rem;
  overflow: hidden;
  max-width: 100%;
  background: white;
  border: none;
  line-height: 1.125em;
}

.react-calendar__navigation > button {
  font-family: "Helvetica";
  color: #e6e6e6;
  background-color: #fff !important;
}

.react-calendar span {
  color: var(--semi-primary-color);
}

.react-calendar__month-view__days {
  height: 30rem;
  gap: 0;
}
.react-calendar__month-view__weekdays__weekday abbr {
  color: var(--gray);
}
.react-calendar--doubleView {
  width: 70rem;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 4.4rem;
  margin-bottom: 1em;
}
.react-calendar__navigation__arrow {
  color: var(--semi-primary-color);
}
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
}
.react-calendar__navigation button {
  min-width: 4.4rem;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  width: 4.3rem;
  height: 4.3rem;
  background: none;
  text-align: center;
  line-height: 1.6rem;
  position: relative;
  overflow: visible !important;
}
.react-calendar__tile:disabled {
  /* background-color: #F0F0F0; */
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #fff;
  /* background-color: #E6E6E6; */
}
.react-calendar__tile--now {
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: var(--semi-primary-color);
  /* background: #76baff; */
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #fff;
  /* background: var(--semi-primary-color); */
  /* background: #A9D4FF; */
}
.react-calendar__tile--active {
  border-radius: 1.5rem;
  background: var(--semi-primary-color);
  color: white;
  transition-property: background-color; /* 어떤 css 프로퍼티를 transition할지 지정 */
  transition-duration: 2s; /* width와 bg-color가 2초동안 변화 */
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fff;
  /* background: var(--semi-primary-color); */
}
.react-calendar--selectRange .react-calendar__tile--hover {
  /* background-color: #E6E6E6; */
}
.dot {
  z-index: 2;
  position: absolute;
  bottom: -0.1rem;
  left: 40%;
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--semi-primary-color);
  border-radius: 50%;
  /* display: flex; */
  margin-left: 0.1rem;
}

.react-calendar__navigation__label:hover {
  background-color: #fff;
}
