.container {
  width: 350px;
  padding: 24px;
  margin: 0 auto;
}

.logo-wrap {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 80px;
}

.share-box {
  display: flex;
  justify-content: end;
}
