.container {
  max-width: 35rem;

  margin: 10.4rem auto;
  padding: 2rem;
  border: 0.1rem solid black;
}

.btn-box button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 0.2rem solid #a99bf6;
  border-radius: 0.6em;
  color: #a99bf6;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em 1.2em 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.btn-box button:hover,
.btn-box button:focus {
  color: #fff;
  outline: 0;
  background-color: #a99bf6;
}

.profile img {
  width: 100%;
}

.container .nickname {
  text-align: center;
}
