.button-box {
  width: 100%;
}

.button {
  display: block;
  margin: 0 auto;
  border: 0.1rem solid var(--primary-color);
  color: #fff;
  font-size: 3rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0;
  cursor: pointer;
  background-color: var(--primary-color);
}
