.footer-box {
  margin: 0 auto;
  padding: 2rem;
  max-width: 35rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0 0 1.6rem;
  border-radius: 12px;

  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 3rem;
  z-index: 3;
  max-width: 30rem;
  width: 30rem;
  margin: 0 auto;
}
