.item {
  width: 100%;
  height: 5.3rem;
  background-color: #e7e9ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1rem;
  margin-bottom: 3rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0rem 10rem 10rem -10rem;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-left: 1rem;
  display: inline-block;
}
.is-done {
  margin-left: 1rem;
  color: gray;
  text-decoration: line-through;
}

.checkbox {
  border-radius: 12px;
}

.input {
  outline: none;
  width: 100%;
  padding: 1rem;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid #a99bf6;

  animation: input 0.1s ease;
  animation-iteration-count: 3;
}

@keyframes input {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
