.item {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #e7e9ef;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px;
  margin-bottom: 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-left: 10px;
  display: inline-block;
}
