@font-face {
  font-family: 'BookkMyungjo-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #735bf2;
  --semi-primary-color: #a99bf6;
  --gray: #d9d9d9;
}

html {
  font-family: 'BookkMyungjo-Bd';
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BookkMyungjo-Bd';
  font-size: 1.6rem;
  overflow: hidden;
}

.swipe-to-delete {
  height: 53px !important;
}

.js-delete {
  background-color: #fff !important;
  height: 53px !important;
}
