@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #735bf2;
  --semi-primary-color: #a99bf6;
  --gray: #d9d9d9;
}

html {
  font-family: "BookkMyungjo-Bd";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "BookkMyungjo-Bd";
  font-size: 1.6rem;
  overflow: auto;
}

.swipe-to-delete {
  height: 5.3rem !important;
}

.js-delete {
  background-color: var(--primary-color) !important;
  height: 5.3rem !important;
}

button {
  cursor: pointer;
}
